.option-parent :nth-child(1){
    background-color: red;
}

.option-parent :nth-child(2){
    background-color: blue;
}

.option-parent :nth-child(3){
    background-color: rgb(255, 251, 0);
}

.option-parent :nth-child(4){
    background-color: green;
}

.card-item  :nth-child(1){
    background-color: transparent ;
}
.success_item :nth-child(1){
    background-color: transparent ;

}
.option-success  div {
    background-color: green;
}

.option-failed div {
    background-color: red;

}


#bar {
    background-color: #4267b2;
    width: 10px;
    height: 40px;
    position: absolute;
  }
  
  #loading {
    font-size: 1.4rem;
  }
